<IfModule mod_rewrite.c>
  RewriteEngine On
  #RewriteRule goods/([0-9]*)_([0-9]*).html$  /index.php/index/index/lists?cateid=$1&page=$2 [NC]
  #RewriteRule goods/([0-9]*).html$  /index.php/index/index/item?id=$1 [NC]
  #RewriteRule index.html$  /index.php/index/index/index [NC]
  #RewriteRule index.php$  /index.php/index/index/index [NC]
</IfModule>
